aws_region        = "us-east-1"
availability_zone = "us-east-1a"
instance_type     = "t3.micro"
instance_name     = "terraform-parameterized-app-server"
ssh_user          = "ubuntu"
private_key_path  = "C:/Users/YOUR_USERNAME/Downloads/olajide-key.pem"
key_name          = "olajide-key"
